h1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
}